.jobboard {
    display: grid;
    // flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    .status-section {
        background: #f1f5f9;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        max-width: 600px;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 75vh;
        overflow-y: auto;
        p {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 600;
            color: #334155;
        }
    }
    // width: 20vw;
    // height: 80vh;
}